@model IEnumerable<PerpustakaanViewModel.PendaftaranViewModel>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KodeKartu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KodePetugas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TglPembuatan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TglExpired)
        </th>
        <th></th>
    </tr>
        </thead>
    <tbody>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KodeKartu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KodePetugas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TglPembuatan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TglExpired)
        </td>
        <td>
            <input type="button" value="Edit" class="btn btn-warning btn-edit" data-id="@item.Id">
            <input type="button" value="Delete" class="btn btn-danger btn-delete" data-id="@item.Id">
        </td>
    </tr>
}
</tbody>
</table>

<script type="text/javascript">
    $(".btn-edit").click(function () {
        //alert('Id-nya adalah :' + $(this).attr("data-id"));
        $.ajax({
            url: '@Url.Action("Edit", "Pendaftaran")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-body").html(result);
                $("#modal-form").modal("show");
            }

        });
    });

    $(".btn-delete").click(function () {
        //alert('Id-nya adalah :' + $(this).attr("data-id"));
        $.ajax({
            url: '@Url.Action("Delete", "Pendaftaran")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-body").html(result);
                $("#modal-form").modal("show");
            }

        });
    });
</script>